.formbody{
    display: block;
    margin-left: 20vw;    
    margin-top: 10vh;
    align-items: center;
    
}

h1{
    font-size: 3em;
    color: royalblue;
}

form{
    display: grid;
    width: 40vw;
    font-size: large;
}

input{
    border: 2px grey solid;
    border-radius: 20px;  
    height: 40px;
    background-color: rgba(0,0,255,0.1);
}
label{
    font-size: 2em;
    margin: 10px 10px 10px 0;
}

button{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: 2px solid rgba(255,0,0,0.5);
    border-radius: 15px;
    background-color: rgba(255,0,0,0.1);
    font-size: 1em;
}

button:hover{
    cursor: pointer;
}
